<style>

body {
  background-color: #FFFFFF;
  font-family: Nunito, Helvetica, sans-serif;
  color: #000000;
}

div.site {
  font-family: Nunito, Helvetica, sans-serif;
  text-align: left;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 1000;
  padding: 5px 50px;
  word-spacing: 950px;
}

nav {
  font-family: Nunito, Helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  letter-spacing: 3px;
  display: block;
  text-decoration: none;
  list-style-type: none;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 15px 0px;
  position: relative;
  position: sticky;
}

div.acd {
  font-family: Nunito, Helvetica, sans-serif;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 70px;
  padding: 5px 50px;
  line-height: 0.1;
}


div.a {
  font-family: Nunito, Helvetica, sans-serif;
  margin: 55px;
  float: left;
  width: 1200px;
}

div.a img {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
  max-width: 100%
}

a:link, a:visited {
  color: #545454;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

div.lar {
  font-family: Nunito, Helvetica, sans-serif;
  margin: 55px;
  width: 316px;
  position: absolute;
  top: 1700px;
  right: 0;
  width: 200px;
  height: 100px;
}

div.lar img {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
  max-width: 100%
}

div.descripción {
  font-family: Nunito, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 25px;
  padding: 100px 250px;
  line-height: 150%
} 

div.titulo {
  font-family: Nunito, Helvetica, sans-serif;
  text-align: left
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 22px;
  padding: 5px 75px;
} 

div.productos {
  font-family: Nunito, Helvetica, sans-serif;
  margin: 50px;
  float: left;
  width: 316px;
  padding-top: 0px;
  padding-bottom: 150px;
}

div.desc {
  font-family: Nunito, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 600;
}

div.productos img {
  width: 100%;
  height: auto;
  max-width: 100%
}

</style>